@use "../../styles/mixins" as *;


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;

  svg {
      margin-top: 2rem;
      width: clamp(250px, 50vw, 500px);
  }

  h2 {
    color: var(--color-accent);
    font-size: var(--fs-800);
  }

  p {
    font-size: var(--fs-400);
  }
}

.cls1,
.cls2 {
  fill: none;
  stroke-width: 2px;
}

.cls1 {
  stroke: var(--color-accent);
  stroke-linejoin: round;
}
.cls2 {
  stroke: var(--color-accent);
  stroke-miterlimit: 10;
  stroke-dasharray: 10;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1s linear infinite;
  animation: dash 1s linear infinite;
}

@keyframes dash {
    100% {
        stroke-dashoffset: 50;
    }
}